In [ ]:
import pandas as pd

base_artistas = pd.read_csv("spotify_artists.csv")

base_artistas.head()

,Unnamed: 0,artist_popularity,followers,genres,id,name,track_id,track_name_prev,type
0,0,44,23230,"['sertanejo', 'sertanejo pop', 'sertanejo trad...",4mGnpjhqgx4RUdsIJiURdo,Juliano Cezar,0wmDmAILuW9e2aRttkl4aC,track_9,artist
1,1,22,313,[],1dLnVku4VQUOLswwDFvRc9,The Grenadines,4wqwj0gA8qPZKLl5WVqXml,track_30,artist
2,2,26,1596,['danish pop rock'],6YVY310fjfUzKi8hiqR7iK,Gangway,1bFqWDbvHmZe2f4Nf9qaD8,track_38,artist
3,3,31,149,['uk alternative pop'],2VElyouiCfoYPDJluzwJwK,FADES,3MFSUBAidPzRBbIS7BDj1S,track_34,artist
4,4,21,11,['french baroque'],4agVy03qW8juSysCTUOuDI,Jean-Pierre Guignon,2r3q57FhxdsCyYr0kuDq4b,track_26,artist

In [13]:
base_artistas.loc[base_artistas['followers'] < 0]

Empty DataFrame
Columns: [Unnamed: 0, artist_popularity, followers, genres, id, name, track_id, track_name_prev, type]
Index: []

In [18]:
base_artistas.loc[base_artistas['artist_popularity'] < 0]

Empty DataFrame
Columns: [Unnamed: 0, artist_popularity, followers, genres, id, name, track_id, track_name_prev, type]
Index: []

In [ ]:
base_artistas.loc[base_artistas['artist_popularity'] < 0]

In [ ]:

base_artistas.isnull().sum()
base_artistas[base_artistas.isnull().any(axis=1)]

,Unnamed: 0,artist_popularity,followers,genres,id,name,track_id,track_name_prev,type
3836,3836,50,1142,[],4oPYazJJ1o4rWBrTw9lm40,NaN,5OJZjoVoyNbzD24C7tkycW,track_7,artist

In [23]:
base_artistas.dropna(inplace = True)
base_artistas.isnull().sum()

Unnamed: 0           0
artist_popularity    0
followers            0
genres               0
id                   0
name                 0
track_id             0
track_name_prev      0
type                 0
dtype: int64

In [ ]:
print('teste')