In [27]:
import pandas as pd

base_artistas = pd.read_csv("spotify_artists.csv")

base_artistas.head()

,Unnamed: 0,artist_popularity,followers,genres,id,name,track_id,track_name_prev,type
0,0,44,23230,"['sertanejo', 'sertanejo pop', 'sertanejo trad...",4mGnpjhqgx4RUdsIJiURdo,Juliano Cezar,0wmDmAILuW9e2aRttkl4aC,track_9,artist
1,1,22,313,[],1dLnVku4VQUOLswwDFvRc9,The Grenadines,4wqwj0gA8qPZKLl5WVqXml,track_30,artist
2,2,26,1596,['danish pop rock'],6YVY310fjfUzKi8hiqR7iK,Gangway,1bFqWDbvHmZe2f4Nf9qaD8,track_38,artist
3,3,31,149,['uk alternative pop'],2VElyouiCfoYPDJluzwJwK,FADES,3MFSUBAidPzRBbIS7BDj1S,track_34,artist
4,4,21,11,['french baroque'],4agVy03qW8juSysCTUOuDI,Jean-Pierre Guignon,2r3q57FhxdsCyYr0kuDq4b,track_26,artist

In [28]:
base_artistas.describe()

         Unnamed: 0  artist_popularity     followers
count  56129.000000       56129.000000  5.612900e+04
mean   28064.000000          34.387447  7.796041e+04
std    16203.190967          16.917287  5.942273e+05
min        0.000000           0.000000  0.000000e+00
25%    14032.000000          22.000000  1.820000e+02
50%    28064.000000          34.000000  1.734000e+03
75%    42096.000000          46.000000  1.520300e+04
max    56128.000000         100.000000  4.156169e+07

In [29]:
base_artistas.loc[base_artistas['followers'] == 0]

,Unnamed: 0,artist_popularity,followers,genres,id,name,track_id,track_name_prev,type
25,25,21,0,[],6CJCoqivxcdr8zlVeSsoH8,Reiko Tsuiki,7Bdop7N4EKLMk4riEXQMix,track_92,artist
53,53,2,0,[],7uLlA3ipeSM7lUSmrh455d,BiGz,0ebArfrdaqfhwOmBPe2oMt,track_110,artist
107,107,20,0,[],6WxTDr3eh88JEx91Lg3vv4,Roldán Bernabé,2r3q57FhxdsCyYr0kuDq4b,track_28,artist
115,115,22,0,[],1BEyKcixGeLyvFwGANJj8l,Carl Philipp Emanuel,3G3qLFFcPo4khWwE1AwrJO,track_64,artist
127,127,26,0,[],2c7DYeJYKrfO53y45HlLSd,Léo margue,56fBsCXwpBnxe4JkF66gyF,track_77,artist
...,...,...,...,...,...,...,...,...,...
55008,55008,14,0,[],16eNAQjrGCpFW1urlZToih,Normsters,59rk8rcGKiamC7rU5N7tg1,track_50,artist
55068,55068,0,0,[],2AAm5XYeMlucDFPZ2rEhkU,Amrita Singh,7FHDGu4eb2ZXOMZUVAQSCa,track_17,artist
55772,55772,24,0,[],3hG7itMdTJT8vc0JYh771M,Broken Legacy,3K3mUDPEx0sbqBWDMPmaWM,track_30,artist
55805,55805,14,0,[],12iHPxUfgpbCEurMoGRUro,Mario Vidaña,59rk8rcGKiamC7rU5N7tg1,track_49,artist
56041,56041,1,0,[],4zAZWbbCcxXM66MKZ4Gfo2,Sean Christopher,4Wd44BDoB1kOKoWrkTEtKr,track_71,artist

In [30]:

base_artistas.isnull().sum()
base_artistas[base_artistas.isnull().any(axis=1)]

,Unnamed: 0,artist_popularity,followers,genres,id,name,track_id,track_name_prev,type
3836,3836,50,1142,[],4oPYazJJ1o4rWBrTw9lm40,NaN,5OJZjoVoyNbzD24C7tkycW,track_7,artist

In [31]:

base_artistas.dropna(inplace = True)
base_artistas.isnull().sum()

Unnamed: 0           0
artist_popularity    0
followers            0
genres               0
id                   0
name                 0
track_id             0
track_name_prev      0
type                 0
dtype: int64

In [32]:

artistas_deletados = base_artistas[base_artistas.followers == 0].index
base_artistas.drop(artistas_deletados, inplace=True)

In [33]:
base_artistas.loc[base_artistas['followers'] == 0]

Empty DataFrame
Columns: [Unnamed: 0, artist_popularity, followers, genres, id, name, track_id, track_name_prev, type]
Index: []

In [34]:

base_artistas.nunique()

Unnamed: 0           55535
artist_popularity       99
followers            22734
genres               13314
id                   55535
name                 54933
track_id             44790
track_name_prev        325
type                     1
dtype: int64

In [38]:
base_artistas.drop_duplicates(inplace = True)
base_artistas

,Unnamed: 0,artist_popularity,followers,genres,id,name,track_id,track_name_prev,type
0,0,44,23230,"['sertanejo', 'sertanejo pop', 'sertanejo trad...",4mGnpjhqgx4RUdsIJiURdo,Juliano Cezar,0wmDmAILuW9e2aRttkl4aC,track_9,artist
1,1,22,313,[],1dLnVku4VQUOLswwDFvRc9,The Grenadines,4wqwj0gA8qPZKLl5WVqXml,track_30,artist
2,2,26,1596,['danish pop rock'],6YVY310fjfUzKi8hiqR7iK,Gangway,1bFqWDbvHmZe2f4Nf9qaD8,track_38,artist
3,3,31,149,['uk alternative pop'],2VElyouiCfoYPDJluzwJwK,FADES,3MFSUBAidPzRBbIS7BDj1S,track_34,artist
4,4,21,11,['french baroque'],4agVy03qW8juSysCTUOuDI,Jean-Pierre Guignon,2r3q57FhxdsCyYr0kuDq4b,track_26,artist
...,...,...,...,...,...,...,...,...,...
56124,56124,23,1212,['chilean rock'],48YkQQTWzmT248VY8DF7Fv,Profetas y Freneticos,29WK73lMQpLELfHd6PfbjY,track_20,artist
56125,56125,42,57973,"['aggro chileno', 'andean', 'chilean rock', 'l...",1OgaghfYd1qr8DFoNrfDNk,Sinergia,0rXhmIYRPIoVYstJdZt4uq,track_21,artist
56126,56126,38,20870,"['australian alternative rock', 'australian ro...",7o9kdTx6RmO12iAVVsNehd,The Superjesus,1B7tV3WzEnDUS7wXSKDXk3,track_1,artist
56127,56127,44,33923,"['australian alternative rock', 'australian ro...",6n3YUZcayLRuAunJUUelvz,Regurgitator,4e5wI6VC4eVDTtpyZ409Pw,track_8,artist
56128,56128,44,42026,"['australian alternative rock', 'australian in...",47yawJswuSfSvizYhItoOP,Something For Kate,1bOjAQHYtPIsZfPAc1Qq61,track_9,artist

In [39]:

base_artistas.nunique()

Unnamed: 0           55535
artist_popularity       99
followers            22734
genres               13314
id                   55535
name                 54933
track_id             44790
track_name_prev        325
type                     1
dtype: int64

In [40]:
base_albums = pd.read_csv("spotify_albums.csv")

base_albums.head()

,Unnamed: 0,album_type,artist_id,available_markets,external_urls,href,id,images,name,release_date,release_date_precision,total_tracks,track_id,track_name_prev,uri,type
0,0,single,3DiDSECUqqY1AuBP8qtaIa,"['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH...",{'spotify': 'https://open.spotify.com/album/1g...,https://api.spotify.com/v1/albums/1gAM7M4rBwEb...,1gAM7M4rBwEbSPeAQR2nx1,"[{'height': 640, 'url': 'https://i.scdn.co/ima...",If I Ain't Got You EP,2019-02-08,day,6,2iejTMy9XZ8Gaae0aQ2yl0,track_32,spotify:album:1gAM7M4rBwEbSPeAQR2nx1,album
1,1,album,6s1pCNXcbdtQJlsnM1hRIA,"['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH...",{'spotify': 'https://open.spotify.com/album/4K...,https://api.spotify.com/v1/albums/4KfJZV7WfolY...,4KfJZV7WfolYlxBzOTo66s,"[{'height': 640, 'url': 'https://i.scdn.co/ima...",Shostakovich Symphony No.5 - Four Romances on ...,2019-03-01,day,8,1WQfghEjszJJ4H8MAWrQ2C,track_11,spotify:album:4KfJZV7WfolYlxBzOTo66s,album
2,2,single,5YjfNaHq05WrwldRe1QSBc,"['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH...",{'spotify': 'https://open.spotify.com/album/7n...,https://api.spotify.com/v1/albums/7nLYY7uAVUb5...,7nLYY7uAVUb57kpd7tZxnS,"[{'height': 640, 'url': 'https://i.scdn.co/ima...",Take My Bass,2019-03-14,day,1,3jJKj4QTK3v18ZSwpk7AcV,track_15,spotify:album:7nLYY7uAVUb57kpd7tZxnS,album
3,3,single,2G9Vc16JCpnZmK4uGH46Fa,"['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH...",{'spotify': 'https://open.spotify.com/album/6p...,https://api.spotify.com/v1/albums/6p20Rt4x2Qn5...,6p20Rt4x2Qn5mUMRi1s6pj,"[{'height': 640, 'url': 'https://i.scdn.co/ima...",Hypnotizing (Are U),2016-11-16,day,1,1xGtDafUZbHyYC3Xarcbrj,track_46,spotify:album:6p20Rt4x2Qn5mUMRi1s6pj,album
4,4,single,2dwM9OcE4c3Ph1UBINSodx,"['AD', 'AE', 'AR', 'AT', 'AU', 'BE', 'BG', 'BH...",{'spotify': 'https://open.spotify.com/album/1X...,https://api.spotify.com/v1/albums/1XeoOqC1q7U2...,1XeoOqC1q7U2iyLEQJ64cu,"[{'height': 640, 'url': 'https://i.scdn.co/ima...",Sunshine,2018-07-20,day,1,0gWtsXvXOzAT6FtM3ur8in,track_10,spotify:album:1XeoOqC1q7U2iyLEQJ64cu,album